body {
    margin: 0;
    background-image: url('Images/Addpizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.addOrderBox {
    width: 320px;
    height: 520px;
    background-color: whitesmoke;
    color: black;
    top: 55%;
    right: 2%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border: 1px solid black;
    background-size: cover;
    border-radius: 20px;
}

    .addOrderBox input /*[type="text"]*/ {
        width: 100%;
        border: none;
        border-bottom: 1px solid grey;
        background: transparent;
        outline: none;
        height: 30px;
        font-family: "sans-seriff";
    }

#addOrderButton {
    border: none;
    outline: none;
    height: 40px;
    background-color: red;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid whitesmoke;
    width: 100%;
    text-align:center;
}

    #addOrderButton:hover {
        cursor: pointer;
        background-color: lightsalmon;
    }

#navlink {
    font-size: 13px;
    line-height: 10px;
    color: purple;
    font-family: sans-serif;
    text-align: center;
}

#errorMessage {
    color: red;
    font-size: 11px;
}
