


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAllPizzaImages</title>
    <link href="~/Content/ViewAllPizzaImages.css" rel="stylesheet" />
</head>
<body>

    <h2>VEG PIZZAS</h2>
    <div class="row">
        <div class="column">
            <h3 style="text-align:center">Margherita</h3>
            <img src="~/Content/Images/Margherit.jpg" style="width:100%">


        </div>
        <div class="column">
            <h3 style="text-align:center">Double Cheese Margherita </h3>
            <img src="~/Content/Images/Double_Cheese_Margherita.jpg" style="width:100%">
        </div>
        <div class="column">
            <h3 style="text-align:center">Farm House</h3>
            <img src="~/Content/Images/Farmhouse.jpg" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3 style="text-align:center">Peppy Panner</h3>
            <img src="~/Content/Images/Peppy_Paneer.jpg" style="width:100%">
        </div>

        <div class="column">
            <h3 style="text-align:center">Mexican Green Wave</h3>
            <img src="~/Content/Images/Mexican_Green_Wave.jpg" style="width:100%">
        </div>

        <div class="column">
            <h3 style="text-align:center">Delux Veggie</h3>
            <img src="~/Content/Images/Deluxe_Veggie.jpg" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3 style="text-align:center">Tandoori Panner</h3>
            <img src="~/Content/Images/IndianTandooriPaneer.jpg" style="width:100%">
        </div>
        <div class="column">
            <h3 style="text-align:center">Panner Makhni</h3>
            <img src="~/Content/Images/Paneer_Makhni.jpg" style="width:100%">
        </div>
        <div class="column">
            <h3 style="text-align:center">Corn and Cheese</h3>
            <img src="~/Content/Images/Corn_&_Cheese.jpg" style="width:100%">
        </div>

    </div>

    <br />
    <br />
    <div>
        @Html.ActionLink("back to Menu", "CustomerNavigate")
    </div>

</body>
</html>
